.app-auth-card.mdl-card {
  margin: 2rem;
  width: 70vw;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.appauth-logo {
  flex-grow: 1;
  background-color: #EFEFEF;
  width: 25vw;
  height: 25vw;
}

.app-auth-profile {
  margin-top: 2rem;
}

#user-info {
  height: auto;
  min-height: auto;
  padding: 1rem;
}

#user-name {
  margin-left: 1rem;
  align-self: center;
}

#user-profile-image {
  align-self: center;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
}